block header

div.headerWrap.drawer.drawer--left
  header(role="banner")
    button(type="button").drawer-toggle.drawer-hamburger
      span.sr-only toggle navigation
      span.drawer-hamburger-icon
  nav(role="navigation").drawer-nav
    ul
      li #{user.username}
      a(href = '/adminPanel') Админка
      br
      button#logOut Выйти




script.
  $(document).ready(function() {
    $('.drawer').drawer({
      class: {
        nav: 'drawer-nav',
        toggle: 'drawer-toggle',
        overlay: 'drawer-overlay',
        open: 'drawer-open',
        close: 'drawer-close',
        dropdown: 'drawer-dropdown'
      },
      iscroll: {
        // Configuring the iScroll
        // https://github.com/cubiq/iscroll#configuring-the-iscroll
        mouseWheel: true,
        preventDefault: false
      },
      showOverlay: true
      });
  });
script(type='text/javascript', src='./js/logOut.js')
