include ./includes/main.pug
include ./includes/header.pug
block contacts
  div.contactsWrap.col-lg-6.col-md-6.col-sm-12.col-xs-12.col-md-offset-3.col-lg-offset-3
    div.contacts
      if (contactss)  
        each contact in contactss
          a.contactHref(href ='/user/' + contact.name)
            div.contact
              img.avatar(src="" + contact.avatar)
              span #{contact.name}
