include ./includes/main.pug
//include ./includes/header.pug
script(type='text/javascript', src='./js/login.js')
div.logQuadWrap
  div.logQuad.col-lg-2.col-md-2.col-sm-12.col-xs-12.col-md-offset-5.col-lg-offset-5
    p Войти
    form(name= 'login') 
      input(type ='input' placeholder = "Логин или почта" name= 'username').form-control#username
      input(type ='password' placeholder = "Пароль" name= 'password').form-control#password
      a(href = '/signUp')#Reg Зарегистрироваться
      button(type= 'button').awesomeBut#sendBut Войти
      p#message
